/* whole-page */
/* page-height-size */
.story-page{
    background-color: grey;
    padding-top: 60px;
}
.story-page-inner{
    display: flex;
    width: 1094px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}

/* menu */
/* page-height-size */
.menu-area{
    padding: 20px 5px 0 20px;
    position: fixed;
    height: 100vh;
    /* height: 842px; */
    width: 300px;
    min-width:300px;
    background-color: #f4fcfc;
}
.menu-title {
	font-weight: bold;
	line-height: 42px;
	margin: 0;
	padding: 0 0 0 5px;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
}
.menu-title-checkbox{
    vertical-align: top;
    padding-top: 11px;
    font-weight: 500;
}
.menu-title-pulldown-arrow.open{
	transform: rotate(-180deg);
	transition: .5s;
}
.menu-title-pulldown-arrow.close{
	transform: rotate(0deg);
	transition: .5s;
}
.menu-icons-circle{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: white;
    border-radius: 50%;
    margin: 8px 10px 0 0;
    cursor: pointer;
    box-shadow: 5px 2px 2px rgba(115, 132, 148, 0.616);
}
.menu-icons-circle:hover{
    background-color: #feefab;
}
.menu-icons-area{
    display: flex;
    position: absolute;
    right: 29px;
}
.menu-tooltip{
    visibility: hidden; /* はじめは隠しておく */
    position: absolute; /* 絶対配置 */
    transform: translateX(-50%); /* 親に対して中央配置 */
    display: inline-block;
    padding: 5px; /* 余白 */
    white-space: nowrap; /* テキストを折り返さない */
    font-size: 5px; /* フォントサイズ */
    line-height: 1.3; /* 行間 */
    background: #feefab; /* 背景色 */
    color: black; /* 文字色 */
    border-radius: 3px; /* 角丸 */
}
.tooltip-pv{
    bottom: 43px;
    right: 70px;
}
.tooltip-p{
    bottom: 43px;
    left: 75px;
}
.tooltip-w{
    bottom: 43px;
    left: 120px;
}
.menu-icons-circle:hover .menu-tooltip{
    opacity: 1;
    visibility: visible;
}
.pulldown-lists {
	display: none;
}
.pulldown-lists ul{
	list-style-type: none;
}

/* checkbox in menu */
.menu-sessions,.menu-title-sessions { display: none; }

.menu-sessions + label, .menu-title-sessions+label{
    display: block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
}

.menu-sessions + label:last-child, .menu-title-sessions+label:last-child { margin-bottom: 0; }

.menu-sessions + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #089f9f;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .12s, border-color .08s;
}
.menu-title-sessions + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #089f9f;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .12s, border-color .08s;
}
.menu-sessions:checked + label:before,.menu-title-sessions:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-session-outer{
    width: 100px;
    margin-left: 30px;
}
.checkbox-lists{
    padding: 0 3px 3px 0;
    display: flex;
}

/* slider checkbox */
.reading-visible-area{
    height: 27px;
    display: flex;
}
.eye-icon{
    margin: 0;
    height: 50%;
    padding-left: 5px;
}
.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 38px;
  }

  .switch input {
    display:none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 15px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 15px;
  }

  input:checked + .slider {
    background-color: #089f9f;
  }

  input:checked + .slider:before {
    transform: translateX(15px);
  }

  .slider.round {
    border-radius: 20px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


/* content */
/* page size */
.content-area{
    background-color: white;
    /* overflow: scroll; */
    left: 300px;
    width: 21cm;
    position: relative;
}
/* page-height-size */
.lesson-separator{
    height: 6mm;
    /* width: 595px; */
    width: 21cm;
    background-color: #feefab;
}
/* page-height-size */
.page-separator{
    height: 6mm;
    width: 21cm;
}
.indivisual-content-area{
    visibility: hidden;
    padding: 0 40px 0 40px;
}
.bread-crumbs{
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
}
/* page-height-size */
.page{
    height: 271mm;
    display:block
}

/* reading */
/* page-height-size */
.reading{
    height: 600px;
}
.reading-title{
    font-size: 30px;
    text-align: center;
    padding: 20px 0 5px 0;
    font-weight: 500;
    color: #0a9c9c;
}
.reading-content{
    margin-top: 10px;
    display: flex;
}
.reading-story{
    padding: 5px 15px 15px 15px;
    font-size: 21px;
}
.reading-pic{
    width: 200px;
    float: left;
	margin: 0 10px 10px 0;
}

/* vocabulary questions practice*/
/* page-height-size */
.title-area{
    display: flex;
    justify-content: space-between;
}
.vocabulary-article-title{
    color: rgb(228, 228, 223);
    height: 37px;
    line-height: 37px;
    padding-top: 10px;
    padding-right: 35px;
}
.article-title{
    color: rgb(228, 228, 223);
    height: 34px;
    line-height: 34px;
    padding-right: 35px;
}
.questions-title, .practice-title, .answers-title{
    font-size: 25px;
    font-weight: 500;
    color: #0a9c9c;
    padding: 10px 0 10px 0;
}
/* page-height-size */
.vocabulary-area{
    height: 240px;
    padding-top: 10px;
}
.vocabulary-title{
    font-size: 25px;
    font-weight: 500;
    color: #0a9c9c;
    padding: 10px 0 10px 0;
}
.answers-area{
    margin-top: 10px;
}
.question, .practice{
    font-size: 20px;
}
.vocab-lists{
    font-size: 21px;
    height: 35px;
}
.practice-margin,.question-margin{
    height: 10px;
}
.question-answer, .practice-answer{
    width: 630px;
    height: 38px;
    border-bottom: solid 1px black;
}
.answer-sentence{
    font-size: 21px;
    height: 43px;
    line-height: 43px;
}
.answer-num{
    font-size: 21px;
    height: 43px;
    line-height: 43px;
    vertical-align: top;
}
.practice-num,.question-num{
    font-size: 20px;
    height: 100%;
    vertical-align: top;
}

/* page number */
.page-num{
    text-align: center;
    height: 20mm;
    line-height: 20mm;
}
