.tab-area{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
}
.tab{
    margin-top: 40px;
    margin: 40px 10px 0 10px;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    padding-top: 5px;
    border-radius: 5px;
}
.unhighlighted{
    width: 350px;
    height: 90px;
    background-color: #feefab;
    box-shadow: 10px 5px 5px rgba(53, 71, 102, 0.541);
    cursor: pointer;
}

.highlighted{
    width: 355px;
    height: 95px;
    box-shadow: 10px 5px 5px rgba(28, 37, 53, 0.664);
    background-color: white;
}
.unhighlighted:hover{
    width: 355px;
    height: 95px;
    box-shadow: 10px 5px 5px rgba(28, 37, 53, 0.664);
    background-color: white;
    transition: 0.08s;
}