.img{
    width: 480px;
    height: 190px;
    border-radius: 10px;
    opacity: 0.2;
}
.img-area{
    display: flex;
    justify-content: center;
}
.img-title{
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 40px;
}
