@page {
    size: A4; /* Change from the default size of A4 */
    margin: 0mm; /* Set margin on each page */
}
/* content */
.content-area{
    width: 21cm;
}
.indivisual-content-area{
    padding: 0 50px 0 50px;
}
/* page-height-size */
.lesson-separator{
    height: 6mm;
    width: 21cm;
    background-color: #feefab;
}
.page-separator{
    height: 6mm;
    width: 21cm;
}
/* page-height-size */
.page{
    height: 271mm;
    display:block
}

/* reading */
/* page-height-size */
.reading{
    height: 600px;
}
.reading-title{
    font-size: 30px;
    text-align: center;
    padding: 20px 0 5px 0;
    font-weight: 500;
    color: #0a9c9c;
}
.reading-content{
    margin-top: 10px;
    display: flex;
}
.reading-story{
    padding: 5px 5px 15px 5px;
    line-height:35px;
    font-size: 21px;
}
.reading-pic{
    width: 200px;
    float: left;
	margin: 0 10px 10px 0;
}

/* vocabulary questions practice*/
.title-area{
    height: 60px;
    line-height: 60px;
}
/* page-height-size */
.vocabulary-title{
    font-size: 25px;
    font-weight: 500;
    color: #0a9c9c;
    margin-top: 10px;
    padding: 20px 0 0 0;
}
.vocabulary-article-title{
    color: rgb(228, 228, 223);
    position: absolute;
    right: 50px;
}
.article-title{
    color: rgb(228, 228, 223);
    position: absolute;
    right: 50px;
}
.questions-title, .practice-title, .answers-title{
    font-size: 25px;
    font-weight: 500;
    color: #0a9c9c;
    padding: 20px 0 20px 0;
}
/* page-height-size */
.vocabulary-area{
    height: 240px;
    padding-top: 10px;
}
.answers-area{
    margin-top: 10px;
}
.question, .practice{
    font-size: 20px;
}
.vocab-lists{
    font-size: 21px;
    height: 35px;
}
.practice-margin,.question-margin{
    height: 10px;
}
.question-answer, .practice-answer{
    width: 630px;
    height: 38px;
    border-bottom: solid 1px black;
}
.answer-sentence{
    font-size: 21px;
    height: 43px;
    line-height: 43px;
}
.answer-num{
    font-size: 21px;
    height: 43px;
    line-height: 43px;
    vertical-align: top;
}
.practice-num,.question-num{
    font-size: 20px;
    vertical-align: top;
}
/* page number */
.page-num{
    text-align: center;
    height: 20mm;
    line-height: 20mm;
}

/* show and hide controll */
.hide{
    display: none;
}
.show{
    display: block;
}