@page {
    size: A4; /* Change from the default size of A4 */
    margin: 0mm; /* Set margin on each page */
}
/* content */
.content-area{
    width: 21cm;
}
.indivisual-content-area{
    padding: 0 40px 0 40px;
}
/* page-height-size */
.lesson-separator{
    height: 6mm;
    width: 21cm;
    background-color: #feefab;
}
.page-separator{
    height: 6mm;
    width: 21cm;
}
/* page-height-size */
.page{
    height: 235mm;
    display:block
}

/* reading */
/* page-height-size */
.reading{
    height: 550px;
}
.reading-title{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: #0a9c9c;
}
.reading-content{
    margin-top: 10px;
    display: flex;
}
.reading-story{
    /* padding: 5px 15px 15px 15px; */
    font-size: 21px;
}

/* vocabulary questions practice*/
/* page-height-size */
.title-area{
    display: flex;
    justify-content: space-between;
}
.vocabulary-article-title{
    color: rgb(228, 228, 223);
    height: 37px;
    line-height: 37px;
    padding-top: 10px;
    padding-right: 35px;
}
.article-title{
    color: rgb(228, 228, 223);
    height: 34px;
    line-height: 34px;
    padding-right: 35px;
}
.questions-title, .practice-title, .answers-title{
    font-size: 25px;
    font-weight: 500;
    color: #0a9c9c;
}
/* page-height-size */
.vocabulary-area{
    height: 240px;
    padding-top: 10px;
}
.vocabulary-title{
    font-size: 25px;
    font-weight: 500;
    color: #0a9c9c;
    margin-top: 10px;
}
.answers-area{
    margin-top: 10px;
}
.question, .practice{
    font-size: 20px;
}
.vocab-lists{
    font-size: 21px;
}
.practice-margin,.question-margin{
    height: 10px;
}
.question-answer, .practice-answer{
    width: 500px;
    height: 38px;
    border-bottom: solid 1px black;
}
.answer-sentence{
    font-size: 21px;
    height: 43px;
    line-height: 43px;
}
.answer-num{
    font-size: 21px;
    height: 43px;
    line-height: 43px;
    vertical-align: top;
}
.practice-num,.question-num{
    font-size: 20px;
    /* height: 100%; */
    vertical-align: top;
}
/* page number */
.page-num{
    text-align: center;
    height: 10mm;
    line-height: 35px;
}
