.banner{
    display: flex;
    background-color: #089f9f;
    width: 100%;
    height: 120px;
    background-size: 415px;
    background-repeat: no-repeat;
    color: white;
}
.header-area{
    width: 100%;
}
.header{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    width: 450px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    filter:drop-shadow(5px 5px 5px #4b6b8bb4);    
    text-align: center;
    padding: 20px;
    padding-top: 11px;
    color: black;
}
