.tab-area{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}
.tab{
    margin: 15px 10px 0 10px;
    text-align: center;
    font-size: 23px;
    line-height: 70px;
    border-radius: 5px;
}
.unhighlighted{
    width: 300px;
    height: 70px;
    background-color: #feefab;
    box-shadow: 10px 5px 5px rgba(53, 71, 102, 0.541);
    cursor: pointer;
}
.highlighted{
    width: 305px;
    height: 75px;
    box-shadow: 10px 5px 5px rgba(28, 37, 53, 0.664);
    background-color: white;
}
.unhighlighted:hover{
    width: 305px;
    height: 75px;
    box-shadow: 10px 5px 5px rgba(28, 37, 53, 0.664);
    background-color: white;
    transition: 0.08s;
}